In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_excel(r'C:\Users\Humphery\Desktop\medical.xlsx')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [2]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [3]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [4]:
df['smoker']=pd.Categorical(df.smoker)
df['smoker']=df.smoker.cat.codes
df['sex']=pd.Categorical(df.sex)
df['sex']=df.sex.cat.codes
df.drop(columns='region',inplace=True,axis=1)
df.drop(columns='children',inplace=True,axis=1)

In [5]:
df

      age  sex     bmi  smoker      charges
0      19    0  27.900       1  16884.92400
1      18    1  33.770       0   1725.55230
2      28    1  33.000       0   4449.46200
3      33    1  22.705       0  21984.47061
4      32    1  28.880       0   3866.85520
...   ...  ...     ...     ...          ...
1333   50    1  30.970       0  10600.54830
1334   18    0  31.920       0   2205.98080
1335   18    0  36.850       0   1629.83350
1336   21    0  25.800       0   2007.94500
1337   61    0  29.070       1  29141.36030

[1338 rows x 5 columns]

In [6]:
df.groupby('smoker').mean()

              age       sex        bmi       charges
smoker
0       39.385338  0.485902  30.651795   8434.268298
1       38.514599  0.580292  30.708449  32050.231832

In [7]:
x=df.drop(columns='smoker',axis=1)
y=df['smoker']

In [8]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
normal_df=scalar.fit_transform(x)
data=pd.DataFrame(normal_df,columns=x.columns)
data

           age       sex       bmi   charges
0    -1.438764 -1.010519 -0.453320  0.298584
1    -1.509965  0.989591  0.509621 -0.953689
2    -0.797954  0.989591  0.383307 -0.728675
3    -0.441948  0.989591 -1.305531  0.719843
4    -0.513149  0.989591 -0.292556 -0.776802
...        ...       ...       ...       ...
1333  0.768473  0.989591  0.050297 -0.220551
1334 -1.509965 -1.010519  0.206139 -0.914002
1335 -1.509965 -1.010519  1.014878 -0.961596
1336 -1.296362 -1.010519 -0.797813 -0.930362
1337  1.551686 -1.010519 -0.261388  1.311053

[1338 rows x 4 columns]

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn .metrics import accuracy_score,confusion_matrix,f1_score
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.2,random_state=42)

In [10]:
print(x.shape,x_train.shape,x_test.shape)

(1338, 4) (1070, 4) (268, 4)

In [11]:
model1=LogisticRegression()
model1.fit(x_train,y_train)
prediction1=model1.predict(x_train)

In [12]:
acc=accuracy_score(y_train,prediction1)
acc

0.9280373831775701

In [13]:
model1.fit(x_test,y_test)
prediction1=model1.predict(x_test)
acc=accuracy_score(y_test,prediction1)
acc

0.9477611940298507

In [14]:
model2=SVC()
model2.fit(x_train,y_train)
prediction2=model2.predict(x_train)

In [15]:
acc2=accuracy_score(y_train,prediction2)
acc2

0.914018691588785

In [16]:
model2.fit(x_test,y_test)
prediction2=model2.predict(x_test)
acc_2=accuracy_score(y_test,prediction2)
acc_2

0.9253731343283582

In [17]:
model3=GaussianNB()
model3.fit(x_train,y_train)
prediction3=model3.predict(x_train)

In [18]:
acc3=accuracy_score(y_train,prediction3)
acc3

0.897196261682243

In [19]:
model3.fit(x_test,y_test)
prediction3=model3.predict(x_test)
acc_3=accuracy_score(y_test,prediction3)
acc_3

0.9291044776119403

In [24]:
input_data=(-1.509965,0.989591,0.509621,-0.953689)
mydata=np.asarray(input_data)
my_data_reshape=mydata.reshape(1,-1)
predictions=model1.predict(my_data_reshape)

if predictions==0:
    print('non smokers')
else:
    print('smokers')

non smokers